/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

@font-face {
  font-family: "Amstelvar";
  src: url("/AmstelvarAlpha-Variations.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-stretch: 100% 100%;
}

/* Import Tailwind CSS base styles */
@import "tailwindcss";

/* Theming */
@theme inline {
  --font-jost: "Jost", sans-serif;
  --font-josefin-sans: "Josefin Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-spectral: "Spectral", serif;
  --font-amstel: "Amstelvar", "serif";
  --font-marcellus: "Marcellus", serif;
  --color-primary: #2d6277;
  --color-secondary: #f43e5a;
  --color-white: #ffffff;
  --color-white-100: #f4f3ee;
  --color-gray: #565959;
  --color-gray-bg: #eef1fb;
  --color-midnight-blue: #023347;
  --color-black: #252525;
}

.font-amstel-thin {
  @apply font-amstel;
  font-variation-settings: "wght" 120, "wdth" 800, "opsz" 15;
}

/* Custom global styles */
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: var(--font-spectral);
}

@layer base {
  p {
    color: var(--color-white);
  }
}
button {
  cursor: pointer;
}
